/**
 * @tableofcontents
 *
 * 1. button
 * 2. query
 *    2.1 medium max
 */

/** @section 1. button */

%rs-button
{
	background: gray(0, 0.1);
	border-radius: 0.25em;
	box-sizing: border-box;
	color: gray(0, 0.4);
	display: inline-block;
	padding: 0.75em;

	&:hover
	{
		background: var(--rs-color-primary);
	}

	&[disabled]
	{
		opacity: 0.5;
	}
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	%rs-button
	{
		text-align: center;
		width: 100%;
	}
}
