/**
 * @tableofcontents
 *
 * 1. content
 */

/** @section 1. content */

%rs-title-content
{
	font: bold 2em var(--rs-font-secondary);
	margin-bottom: 0.5em;
}

%rs-box-content
{
	background: gray(255);
	border-radius: 0.25em;
	font-size: 1.25em;
	padding: 1em;
}
