/**
 * @tableofcontents
 *
 * 1. content
 *    1.1 title
 *    1.2 box
 * 2. query
 *    2.1 small min
 */

/** @section 1. content */

.rs-content
{
	margin-left: auto;
	margin-right: auto;
	max-width: 100em;
	padding: 1em;
}

/** @section 1.1 title */

.rs-title-content
{
	@extend %rs-title-content;
}

.rs-box-content ~ .rs-title-content
{
	margin-top: 0.5em;
}

/** @section 1.2 box */

.rs-box-content
{
	@extend %rs-box-content;
}

.rs-box-byline
{
	display: none;
}

/** @section 2. query */

/** @section 2.1 small min */

@media (--media-small-min)
{
	.rs-content
	{
		padding: 4em;
	}

	.rs-box-content ~ .rs-title-content
	{
		margin-top: 2em;
	}
}