/**
 * @tableofcontents
 *
 * 1. header
 */

/** @section 1. header */

.rs-header
{
	background: var(--rs-color-primary);
	padding: 4em 2em;
	text-align: center;
}

.rs-title-header
{
	color: gray(0 / 0.4);
	font: bold 5em var(--rs-font-secondary);
}

.rs-text-header
{
	color: gray(0 / 0.3);
	display: block;
	font-size: 1.5em;
	margin-top: 2em;
}