/**
 * @tableofcontents
 *
 * 1. header
 */

/** @section 1. header */

.rs-wrapper-header
{
	overflow: hidden;
	padding-bottom: 4vw;
}

.rs-header
{
	background: var(--rs-color-primary);
	padding: 4em 2em;
	position: relative;
	text-align: center;

	&:after
	{
		background: var(--rs-color-primary);
		bottom: -2vw;
		content: '';
		height: 4vw;
		left: -1em;
		position: absolute;
		right: -1em;
		transform: rotate(2deg);
		z-index: 1;
	}
}

.rs-title-header,
.rs-text-header
{
	position: relative;
	z-index: 2;
}

.rs-title-header
{
	color: gray(0 / 0.4);
	font: 700 5em var(--rs-font-secondary);
}

.rs-text-header
{
	color: gray(0 / 0.3);
	display: block;
	font-size: 1.5em;
	margin-top: 2em;
}
