/**
 * @tableofcontents
 *
 * 1. header
 */

/** @section 1. header */

.rs-header
{
	background: var(--rs-color-primary);
	color: gray(0, 0.4);
	font-size: 1.25em;
	padding: 3em 1em;
	text-align: center;
}

.rs-text-header
{
	color: gray(0, 0.3);
	display: block;
	font-weight: bold;
	margin-top: 1em;
}