/**
 * @tableofcontents
 *
 * 1. general
 *
 * @since 3.0.0
 *
 * @package Redaxmedia
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body
{
	background: gray(240);
	color: gray(100);
	font: 1em var(--rs-font-primary);
}