/**
 * @tableofcontents
 *
 * 1. pagination
 * 2. query
 *    2.1 medium max
 */

/** @section 1. pagination */

.rs-list-pagination
{
	margin-top: 1em;
	text-align: center;

	& li
	{
		display: inline-block;
		margin: 0.5em;
	}

	& a,
	& span
	{
		background: gray(255);
		display: block;
		padding: 1em;
	}
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	.rs-list-pagination .rs-item-number:not(.rs-item-active)
	{
		display: none;
	}
}