/**
 * @tableofcontents
 *
 * 1. skill
 *    1.1 box
 *    1.2 list
 */

/** @section 1. skill */

/** @section 1.1 box */

.rs-box-skill + .rs-box-skill
{
	margin-top: 1.25em;
}

/** @section 1.2 list */

.rs-list-skill li
{
	margin-top: 1em;

	&:after
	{
		background: gray(230);
		border-radius: 0.25em;
		color: gray(0, 0.3);
		content: attr(data-level) '/100';
		display: block;
		font-size: 0.75em;
		font-weight: bold;
		margin-top: 0.25em;
		padding: 0.5em 0.75em;
		text-align: right;
	}

	&[data-level="100"]:after,
	&[data-level="90"]:after
	{
		background: var(--rs-color-common-10);
	}

	&[data-level="80"]:after,
	&[data-level="70"]:after
	{
		background: var(--rs-color-common-07);
	}

	&[data-level="90"]:after
	{
		margin-right: 10%;
	}

	&[data-level="80"]:after
	{
		margin-right: 20%;
	}

	&[data-level="70"]:after
	{
		margin-right: 30%;
	}

	&[data-level="60"]:after
	{
		margin-right: 40%;
	}

	&[data-level="50"]:after
	{
		margin-right: 50%;
	}
}