/**
 * @tableofcontents
 *
 * 1. timeline
 * 2. query
 *    2.1 small max
 *    2.2 small min
 *    2.3 small min and medium max
 *    2.4 medium max
 *    2.5 medium min
 */

/** @section 1. timeline */

.rs-wrapper-timeline + .rs-wrapper-timeline
{
	margin-top: 2em;
}

.rs-box-timeline
{
	position: relative;
}

.rs-title-timeline
{
	@extend %rs-title-content;
}

.rs-text-timeline
{
	@extend %box-content;
	font-size: 1.25em;
}

/** @section 2. query */

/** @section 2.1 small max */

@media (--media-small-max)
{
	.rs-text-timeline
	{
		background: gray(100);
		border-radius: 0.25em;
		padding: 1em;
	}
}

/** @section 2.2 small min */

@media (--media-small-min)
{
	.rs-has-timeline
	{
		position: relative;

		&:before
		{
			background: gray(0 / 0.05);
			bottom: 0.5em;
			content: '';
			position: absolute;
			top: 0.5em;
			width: 0.5em;
		}
	}

	.rs-wrapper-timeline
	{
		display: flex;
		flex-direction: column;
		position: relative;

		&:before
		{
			background: var(--rs-color-primary);
			border-radius: 50%;
			box-shadow: 0 0 0 0.5em gray(95);
			color: gray(0 / 0.4);
			content: attr(data-category);
			font: 700 1.5em/3em var(--rs-font-secondary);
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			top: 50%;
			transform: translateY(-50%);
			width: 3em;
		}

		&[data-category="misc"]:before
		{
			background: var(--rs-color-common-10);
		}

		&[data-category="vita"]:before
		{
			background: var(--rs-color-common-07);
		}
	}

	.rs-wrapper-timeline + .rs-wrapper-timeline
	{
		margin-top: 4em;
	}

	.rs-box-timeline
	{
		background: gray(100);
		border-radius: 0.25em;
		padding: 1em;
	}

	.rs-text-timeline
	{
		height: 2.625em;
		overflow: hidden;
	}
}

/** @section 2.3 small min and medium max */

@media (--media-small-min) and (--media-medium-max)
{
	.rs-has-timeline:before
	{
		left: 4.875em;
	}

	.rs-wrapper-timeline
	{
		margin-left: 6em;

		&:before
		{
			left: -4.75em;
		}
	}
}

/** @section 2.4 medium max */

@media (--media-medium-max)
{
	.rs-box-timeline .rs-text-date
	{
		display: none;
	}
}

/** @section 2.5 medium min */

@media (--media-medium-min)
{
	.rs-has-timeline:before
	{
		left: 50%;
		margin-left: -0.25em;
	}

	.rs-wrapper-timeline
	{
		&:before
		{
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		&:nth-child(even)
		{
			align-items: flex-start;

			& .rs-text-date
			{
				right: -50%;
				transform: translateX(5.5em) translateY(-50%);
			}
		}

		&:nth-child(odd)
		{
			align-items: flex-end;

			& .rs-text-date
			{
				left: -50%;
				transform: translateX(-5.5em) translateY(-50%);
			}
		}
	}

	.rs-box-timeline
	{
		width: 35%;

		& .rs-text-date
		{
			color: gray(0 / 0.1);
			font-size: 2em;
			position: absolute;
			top: 50%;
		}
	}
}
