/**
 * @tableofcontents
 *
 * 1. timeline
 * 2. query
 *    2.1 small max
 *    2.2 small min
 *    2.3 small min and medium max
 *    2.4 medium max
 *    2.5 medium min
 */

/** @section 1. timeline */

.rs-wrapper-timeline + .rs-wrapper-timeline
{
	margin-top: 1em;
}

.rs-section-timeline
{
	position: relative;
}

.rs-title-timeline
{
	@extend %rs-title-content;
}

.rs-text-timeline
{
	font-size: 1.25em;
}

/** @section 2. query */

/** @section 2.1 small max */

@media (--media-small-max)
{
	.rs-text-timeline
	{
		background: gray(255);
		border-radius: 0.25em;
		padding: 1em;
	}
}

/** @section 2.2 small min */

@media (--media-small-min)
{
	.rs-has-timeline
	{
		position: relative;

		&:before
		{
			background: gray(0, 0.05);
			bottom: 0.5em;
			content: '';
			position: absolute;
			top: 0.5em;
			width: 0.5em;
		}
	}

	.rs-wrapper-timeline
	{
		display: flex;
		flex-direction: column;
		position: relative;

		&:after,
		&:before
		{
			box-sizing: border-box;
			display: block;
			height: 4em;
			margin-top: -2em;
			position: absolute;
			top: 50%;
			width: 4em;
		}

		&:after
		{
			color: gray(0, 0.2);
			content: attr(data-category);
			font-weight: bold;
			line-height: 4em;
			text-align: center;
			text-transform: uppercase;
		}

		&:before
		{
			background: var(--rs-color-primary);
			border-radius: 50%;
			box-shadow: 0 0 0 0.5em gray(240);
			content: '';
		}

		&[data-category="misc"]:before
		{
			background: var(--rs-color-common-10);
		}

		&[data-category="vita"]:before
		{
			background: var(--rs-color-common-07);
		}
	}

	.rs-wrapper-timeline + .rs-wrapper-timeline
	{
		margin-top: 4em;
	}

	.rs-section-timeline
	{
		background: gray(255);
		border-radius: 0.25em;
		padding: 1em;
	}

	.rs-text-timeline
	{
		height: 2.625em;
		overflow: hidden;
	}
}

/** @section 2.3 small min and medium max */

@media (--media-small-min) and (--media-medium-max)
{
	.rs-has-timeline:before
	{
		left: 4.875em;
	}

	.rs-wrapper-timeline
	{
		margin-left: 6em;

		&:after,
		&:before
		{
			left: -7em;
		}
	}
}

/** @section 2.4 medium max */

@media (--media-medium-max)
{
	.rs-section-timeline .rs-text-date
	{
		display: none;
	}
}

/** @section 2.5 medium min */

@media (--media-medium-min)
{
	.rs-has-timeline:before
	{
		left: 50%;
		margin-left: -0.25em;
	}

	.rs-wrapper-timeline
	{
		&:after,
		&:before
		{
			left: 50%;
			margin-left: -2em;
		}

		&:nth-child(even)
		{
			align-items: flex-start;

			& .rs-text-date
			{
				margin-right: -5.5em;
				right: -50%;
			}
		}

		&:nth-child(odd)
		{
			align-items: flex-end;

			& .rs-text-date
			{
				left: -50%;
				margin-left: -5.5em;
			}
		}
	}

	.rs-section-timeline
	{
		width: 35%;

		& .rs-text-date
		{
			color: gray(0, 0.2);
			font-size: 1.75em;
			margin-top: -0.625em;
			position: absolute;
			top: 50%;
		}
	}
}
